*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: rgb(9, 9, 66);
    color: white;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 2rem;
}
.choice:hover{
    background-color: rgb(9, 9, 66);
    cursor:pointer;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap:4rem;
}
#player, #comp{
    font-size: 4rem;
}
.score{
    font-size: 2rem;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    background-color: rgb(9, 9, 66);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}